---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import CopyButton from '../../components/CopyButton.astro';

export async function getStaticPaths() {
  const articles = await getCollection('articles');
  return articles.map(article => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content } = await article.render();
---

<Layout title={article.data.title} description={article.data.description}>
  <main class="prose prose-lg mx-auto prose-blockquote:bg-gray-100 prose-blockquote:p-4 prose-blockquote:border prose-blockquote:border-gray-300 prose-blockquote:rounded-md  prose-blockquote:relative">
    <time datetime={article.data.date.toISOString()} class="text-sm text-gray-500 block mb-8">
      {article.data.date.toLocaleDateString()}
    </time>
    <Content />
  </main>
  <CopyButton />
</Layout>
