---
export const prerender = false;

import Layout from '../../layouts/Layout.astro';
import ApologyWizard from '../../components/ApologyWizard.svelte';

---

<Layout title="Apology Letter Generator">
  <div class="w-full mx-auto py-16">
    <ApologyWizard client:load initialType="personal" />
  </div>
</Layout>