---
import LayoutBase from './LayoutBase.astro';

interface Props {
	title: string;
	description?: string;
	schema?: Record<string, any>;
}

const { title, description = title, schema } = Astro.props;
---

<LayoutBase title={title} description={description} schema={schema}>
	<main class="flex-grow w-full mx-auto px-4">
		<slot />
	</main>
</LayoutBase>
